<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notes</title>
	<link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/prism.css" />
</head>
<body>
<script src="/static/prism.js"></script>
<article>
    <main>
        <div id="row">
            <div id="tags">
                <ul>
                    {{#tags}}
                    <li><a href="/notes/{{.}}.html">{{.}}</a></li>
                    {{/tags}}
                </ul>
            </div>
            <div id="notes">
               {{& content}}
            </div>
        </div>
    </main>
</article>
</body>
</html>
